<template>
<form method="GET" action="/api/users/emails">
    <slot></slot>
    <button class="uk-button uk-button-primary" type="submit">Küldés</button>
</form>
</template>

<script>
export default {
mounted() {
    window.Echo.private('emailchangedchannel')
    .listen('Emailchanged', (e) => {
        console.log(`A régi emailcím: ${e.user.oldEmail} volt, most ${e.user.newEmail} lett.`);
    })
}}
</script>
