<template>
    <form method="POST" :action="`/change-email/${user.id}`">
        <slot name="required_fields"></slot>
        <div class="uk-width-1-3@m uk-align-center">
            <div class="uk-card uk-card-default uk-card-body">
                <h3>E-mail cím változtatás</h3>
                <label for="curr_email">Jelenlegi e-mail
                    <input disabled :value="user.email" name="curr_email" id="curr_email" type="email" class="uk-input uk-form-small" />
                </label>
                <label for="email">Új e-mail
                    <input name="email" v-model="email" id="email" type="email" class="uk-input uk-form-small" />
                </label>
                <slot name="new_email"></slot>
                <label for="email_confirmation">Új e-mail mégegyszer
                    <input name="email_confirmation" id="email_confirmation" type="email" class="uk-input uk-form-small" />
                </label>
                <slot name="new_email_confirm"></slot>
                <div><button class="uk-button uk-button-primary uk-align-right uk-margin-remove-bottom uk-margin-small-top" type="submit">Küldés</button></div>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            emails: [],
            email: '',
        }
    },
    props: {
        user: {
            required: true
        }
    },
    mounted() {
        window.Echo.private('emailusedchannel')
        .listen('EmailUsed', (e) => {
            console.log("!");
        })
        }
    }
</script>
