<template>
    <table class="uk-table uk-table-striped">
        <thead>
            <th>Cím</th>
        </thead>
        <tbody>
            <slot name="items_list"></slot>
        </tbody>
    </table>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>

</style>
