<template>
<form method="POST" action="/login">
    <slot></slot>
    <div class="uk-align-center uk-width-1-3@m">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3>Bejelentkezés</h3>
            </div>
            <div class="uk-card-body">
                <label for="email">E-mail
                    <input name="email" id="email" type="email" class="uk-input uk-form-small" />
                </label>
                <label for="password">Jelszó
                    <input name="password" id="password" type="password" class="uk-input uk-form-small" />
                </label>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a href="/forgotten-password" class="uk-link">Elfelejtettem a jelszavamat!</a>
                <button class="uk-button uk-button-primary uk-width-1-1@m" type="submit">Küldés</button>
            </div>
        </div>
    </div>
</form>
</template>
