<template>
    <form method="POST" action="/register">
    <slot name="csrf_field"></slot>
    <div class="uk-width-1-2@m uk-align-center">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h2>Regisztráció</h2>
            </div>
            <div class="uk-card-body">
                <label for="name">Teljes név
                    <input name="name" id="name" class="uk-input" type="text" />
                </label>
                <slot name="name_error"></slot>
                <label for="email">E-mail
                    <input name="email" id="email" class="uk-input" type="email" />
                </label>
                <slot name="email_error"></slot>
                <label for="password">Jelszó
                    <input name="password" id="password" class="uk-input" type="password" />
                </label>
                <slot name="password_error"></slot>
                <label for="confirm_password">Jelszó mégegyszer
                    <input name="confirm_password" id="confirm_password" class="uk-input" type="password" />
                </label>
                <slot name="confirm_password_error"></slot>
            </div>
            <div class="uk-card-footer">
                <button class="uk-button uk-button-primary uk-width-1-1@m" type="submit">Küldés</button>
            </div>
        </div>
    </div>
</form>
</template>
