<template>
<form method="POST" action="/api/upload-image" enctype="multipart/form-data">
    <slot name="csrf_field"></slot>
    <div class="uk-align-center uk-width-1-2@m uk-text-center">
        <div class="uk-card uk-card-body uk-card-default">
            <h3>Profilkép feltöltés</h3>
            <label for="file">Feltöltés
                <input name="file" id="file" type="file" />
            </label>
            <button type="submit" class="uk-button uk-button-default">Küldés</button>
        </div>
    </div>
</form>
</template>
