<template>
    <table class="uk-table uk-table-medium uk-table-hover uk-table-divider uk-table-striped">
    <thead>
        <tr>
            <th>Azonosító</th>
            <th>Teljes név</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="u in users" :key="u">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
        </tr>
    </tbody>
</table>
</template>

<script>
export default {
    props: {
        users: {
            require: true
        }
    }
}
</script>
